<div class="footer-wrap">
  <div class="container">
    <a href="index.html" class="flogo"> <img src="assets/images/flogo.svg" alt="logo" /> </a>
    <div class="footer-content hcard">
      <div class="footer-info">
        <div class="news-wrap">
          <h6>Subscribe to the Newsletter</h6>
          <ul>
            <li>
              <span>
                Be the first to get updates on our news and publications.
                You will receive a little gift with your welcome email.
              </span>
            </li>
            <li>
              <form>
                <div class="form-row">
                  <input type="email" placeholder="your email" />
                  <input type="submit" value="send" class="btn" />
                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="contact-wrap">
          <h6>Contact Us</h6>
          <ul>
            <li>
              <span>general</span><a class="email" href="mailto:hello@mendel.ai">hello@mendel.ai</a>
            </li>
            <li>
              <span>investors</span><a class="email" href="mailto:invest@mendel.ai">invest@mendel.ai</a>
            </li>
            <li>
              <span>media</span><a class="email" href="mailto:media@mendel.ai">media@mendel.ai</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="office-wrap">
        <div class="office-cont">
          <h6>Our Office</h6>
          <ul>
            <li>
              <address class="adr">
                479 Jessie St, San Francisco
                <br />
                CA 94103, USA
              </address>
            </li>
            <li>
              <a class="tel" href="tel:5166594161">(516) 659-4161</a>
            </li>
          </ul>
  
        </div>
  
        <ul class="social-icons">
          <li>
            <a href="https://www.linkedin.com/company/mendel-health/">
              <img src="assets/images/linkedin.svg" alt="linkedin" />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/mymendel/">
              <img src="assets/images/fb.svg" alt="facebook" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/MendelHealth">
              <img src="assets/images/twitter.svg" alt="twitter" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>