<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Mendel</title>
		<link rel="shortcut icon" type="image/x-icon" href="64x64.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Barlow+Semi+Condensed:200,200i,400,800,800i|Barlow:100,200,200i,400,500,600,700,700i,900|Roboto+Mono:300,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />
	</head>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<!--Header Section Start-->
			<header class="header sticky-mobile">
				<div class="container clearfix">
					<a href="index.html" class="logo" > <img src="assets/images/logo.png" alt="logo" /> </a>
					<nav class="navigation">
						<a href="javascript:;" class="menu-toggler" ><i class="icon-toggler">&nbsp;</i></a>
						<div class="join-wrap">
							<a href="#" class="join-btn">Try Free</a>
						</div>
						<ul class="menu">
							<li class="submenu-sm">
								<a href="hospital.html">research sites</a>
							</li>
							<li>
								<a href="sponsor.html">life sciences</a>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">company<i class="icon-arrow">&nbsp;</i></a>
								<div class="mega-menu">
									<div class="container">
										<ul class="clearfix">
											<li>
												<div class="submenu-wrap">
													<a href="company.html">About <span>Learn About the Mendel's
														mission, vision and story</span></a>
												</div>
											</li>
											<li class="active" >
												<div class="submenu-wrap">
													<a href="career.html">Careers <span>Join the leading tech
														company in AI and oncology</span></a>
												</div>
											</li>
											<li class="submenu-list">
												<div class="submenu-wrap">
													<a href="career-open.html">Blog <span>Read the latest from thought
														leaders at Mendel</span></a>
												</div>
											</li>
											<li class="contact-us">
												<div class="submenu-wrap">
													<a href="#">Contact Us<i class="icon-arrowup">&nbsp;</i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</li>
						</ul>

					</nav>
				</div>
			</header>
			<!--Header Section End-->

			<!--Content Area Start-->
			<div class="content">
				<!--Content-desc Area Start-->
				<div class="content-desc">
					<div class="container">
						<!--About Area Start-->
						<section class="about-sec">
							<div class="team-photo">
								<h2>about us</h2>
								<figure>
									<img src="assets/images/team1.jpg" alt="team" />
								</figure>
								<div class="mendel-text">
									<span class="line-text">the team behind mendel</span>
								</div>
							</div>
							<div class="team-mission">
								<span class="tiny-heading">mission</span>
								<p>
									To use our novel AI aided
									by clinical experts to
									streamline <strong>global
									oncology research</strong> by
									organizing real world
									data and automating
									clinical trials.
								</p>
							</div>
						</section>
						<!--About Area End-->
						<!--Stroy Area Start-->
						<section class="stroy-sec h-entry">
							<div class="stroy-desc e-content">
								<h2 class="p-name">our story</h2>
								<p>
									Karim Galil M.D. started Mendel.ai after a family member was diagnosed with
									cancer. One week after she passed away, Karim found a trial that she could
									have qualified for, however her records were incomplete and much of the data
									was not accessible to hospitals or oncologists through current search methods.
								</p>
								<p>
									The loss left Karim not only frustrated with the losing battle to cancer, but
									with the fragmented system that made it impossible to stay on top of the avalanche
									of clinical trials.
								</p>
								<p>
									With a belief that every patient should have the opportunity to participate in
									potentially life saving treatments, Karim set out to combine the best in artificial
									intelligence, semantic search with medical language comprehension, and human
									intuition to reduce the disparity and to save more lives.
								</p>
								<div class="story-text e-content">
									<p>
										This journey matched Karim with Wael Salloum who, at a young age, was heavily
										interested in computer science. Growing up in Syria computers were non existent
										in schools, and Wael used to bring his desktop computer for the two mile walk to
										school in order to spend more time studying computers. Later he developed a vision
										that using a correlating and contextual architecture with machine learning, he
										could find hidden associations in words that could create insights from chaos and
										ultimately wisdom from context.
									</p>
									<p>
										Waell’s first reiterations were slow and incomplete, however after refining the
										technology and providing more data, the pattern of learning developed further.
										Immediately Wael was able to see the results of the novel semantic search finding
										hidden connections of letters and words with a richness of data that would have
										been useless before. Joining with Karim to co-found Mendel.ai Wael has taken
										opportunity to utilize this technology to leave life-changing impact in
										healthcare and offer access to life saving treatment to more individuals.
									</p>
								</div>
							</div>
							<div class="ceo-photo e-content">
								<figure>
									<img src="assets/images/ceo.jpg" alt="CEO" />
								</figure>
								<div class="mendel-text h-card">
									<span class="line-text p-author">CEO and CSO</span>
								</div>
							</div>
						</section>
						<!--Story Area End-->
						<!--Leader Area Start-->
						<section class="leader-sec h-card">
							<h2>leadership</h2>
							<ul>
								<li>
									<figure>
										<img class="photo" src="assets/images/doctor.svg" alt="Doctor" />
										<figcaption>
											<strong class="fn">dr karim galil</strong>ceo
										</figcaption>
									</figure>
									<a href="#"><img src="assets/images/linkedin1.svg" alt="Linkedin" /></a>
								</li>
								<li>
									<figure>
										<img class="photo" src="assets/images/lady.svg" alt="Doctor" />
										<figcaption>
											<strong class="fn">dr karim galil</strong>ceo
										</figcaption>
									</figure>
									<a href="#"><img src="assets/images/linkedin1.svg" alt="Linkedin" /></a>
								</li>
							</ul>
							<ul>
								<li>
									<figure>
										<img class="photo" src="assets/images/lady.svg" alt="Doctor" />
										<figcaption>
											<strong class="fn">dr karim galil</strong>ceo
										</figcaption>
									</figure>
									<a href="#"><img src="assets/images/linkedin1.svg" alt="Linkedin" /></a>
								</li>
								<li>
									<figure>
										<img class="photo" src="assets/images/doctor.svg" alt="Doctor" />
										<figcaption>
											<strong class="fn">dr karim galil</strong>ceo
										</figcaption>
									</figure>
									<a href="#"><img src="assets/images/linkedin1.svg" alt="Linkedin" /></a>
								</li>
								<li>
									<figure>
										<img class="photo" src="assets/images/doctor.svg" alt="Doctor" />
										<figcaption>
											<strong class="fn">dr karim galil</strong>ceo
										</figcaption>
									</figure>
									<a href="#"><img src="assets/images/linkedin1.svg" alt="Linkedin" /></a>
								</li>
							</ul>
						</section>
						<!--Leader Area End-->
						<!--Value Area Start-->
						<section class="value-sec">
							<h2>values</h2>
							<ul>
								<li>

									<span class="tiny-heading">01</span>
									<h3>Be Authentic</h3>
									<p>
										Bold claims can kill patients. At Mendel, we tell an
										honest story about the evidence we are building with
										AI. We are committed to provide the truth.
									</p>

								</li>
								<li>
									<span class="tiny-heading">02</span>
									<h3>Lead With Originality</h3>
									<p>
										What we are creating is an original solution. We
										strive to innovate with every iteration and to do
										things on our own terms, rather than copying
										others.
									</p>

								</li>
								<li>
									<span class="tiny-heading">03</span>
									<h3>Commit to Excellence</h3>
									<p>
										We never compromise quality. Real-world,
										quality data is the core of our business and we
										are committed to creating clarity from
										the sea of complications.
									</p>

								</li>
								<li>
									<span class="tiny-heading">04</span>
									<h3>Make a Difference</h3>
									<p>
										Our decisions are driven by data. We don’t “wing it.”
										We are committed to getting it right and use data
										to support our decision making leading to more
										insights that could potentially change the world
										in healthcare.
									</p>

								</li>
								<li>
									<span class="tiny-heading">05</span>
									<h3>Think Like a Physician,
									Code like a Developer</h3>
									<p>
										We are physicians first, technologists second. All of
										our solutions are in the service of patients. With a
										custom-built AI system, we are committed to combine an
										oncologist intuition with machine precision.
									</p>

								</li>
								<li>
									<span class="tiny-heading">06</span>
									<h3>Greet Challenges Head On</h3>
									<p>
										We don’t shy away from challenges. We began our
										journey tackling the most difficult and complicated
										medical landscape of oncology. Today, we continue
										to take on complex medical environments with
										vigor and enthusiasm.
									</p>

								</li>
							</ul>
						</section>
						<!--Value Area End-->
					</div>
				</div>
				<!--Content-desc Area End-->
			</div>

			<!--Content Area End-->

			<!--Footer Section Start-->
			<footer class="footer">
				<!--Brand Area Start-->
				<div class="brand-sec">
					<div class="container">
							<ul class="clearfix">
								<li>
									<a href="https://techcrunch.com/2017/07/01/mendel-ai-nabs-2-million-to-match-cancer-patients-with-the-latest-clinical-trials/">
										<img src="assets/images/tech.png" alt="Tech" />
									</a>
								</li>
								<li>
									<a href="https://www.genomeweb.com/informatics/mendel-health-positions-ai-platform-clinical-trial-matching-personalized-medicine#.W3IMzthKh24">
										<img src="assets/images/gen.png" alt="Gen" />
									</a>
								</li>
								<li>
									<a href="https://www.mobihealthnews.com/content/mendelai-raises-2m-ai-powered-clinical-trial-matching-platform">
										<img src="assets/images/mobi.png" alt="Mobi" />
									</a>
								</li>
								<li>
									<a href="https://www.fiercebiotech.com/medical-devices/cancer-genetics-mendel-ally-to-match-patients-to-trials">
										<img src="assets/images/bio.png" alt="Bio" />
									</a>
								</li>
							</ul>
					</div>
				</div>
				<!--Brand Area End-->
				<div class="footer-wrap">
					<div class="container">
						<a href="index.html" class="flogo"> <img src="assets/images/flogo.svg" alt="logo" /> </a>
						<div class="footer-content hcard">
							<div class="footer-info">
								<div class="news-wrap">
									<h6>Subscribe to the Newsletter</h6>
									<ul>
										<li>
											<span>
												Be the first to get updates on our news and publications.
												You will receive a little gift with your welcome email.
											</span>
										</li>
										<li>
											<form>
												<div class="form-row">
													<input type="email" placeholder="your email" />
													<input type="submit" value="send" class="btn" />
												</div>
											</form>
										</li>
									</ul>
								</div>
								<div class="contact-wrap">
									<h6>Contact Us</h6>
									<ul>
										<li>
											<span>general</span><a class="email" href="mailto:hello@mendel.ai">hello@mendel.ai</a>
										</li>
										<li>
											<span>investors</span><a class="email" href="mailto:invest@mendel.ai">invest@mendel.ai</a>
										</li>
										<li>
											<span>media</span><a class="email" href="mailto:media@mendel.ai">media@mendel.ai</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="office-wrap">
								<div class="office-cont">
									<h6>Our Office</h6>
									<ul>
										<li>
											<address class="adr">
												479 Jessie St, San Francisco
												<br />
												CA 94103, USA
											</address>
										</li>
										<li>
											<a class="tel" href="tel:5166594161">(516) 659-4161</a>
										</li>
									</ul>
					
								</div>
					
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/company/mendel-health/">
											<img src="assets/images/linkedin.svg" alt="linkedin" />
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com/mymendel/">
											<img src="assets/images/fb.svg" alt="facebook" />
										</a>
									</li>
									<li>
										<a href="https://twitter.com/MendelHealth">
											<img src="assets/images/twitter.svg" alt="twitter" />
										</a>
									</li>
								</ul>					
							</div>					
						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script src="assets/js/jquery-1.10.2.min.js"></script>
		<script src="assets/js/sticky.js"></script>
		<script src="assets/js/site.js"></script>
	</body>
</html>