<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Mendel</title>
		<link rel="shortcut icon" type="image/x-icon" href="64x64.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Barlow+Semi+Condensed:200,200i,400,800,800i|Barlow:100,200,200i,400,500,600,700,700i,900|Roboto+Mono:300,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />
	</head>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<!--Header Section Start-->
			<header class="header sticky-mobile">
				<div class="container clearfix">
					<a href="index.html" class="logo" > <img src="assets/images/logo.png" alt="logo" /> </a>
					<nav class="navigation">
						<a href="javascript:;" class="menu-toggler" ><i class="icon-toggler">&nbsp;</i></a>
						<div class="join-wrap">
							<a href="#" class="join-btn">Try Free</a>
						</div>
						<ul class="menu">
							<li class="submenu-sm">
								<a href="hospital.html">research sites</a>
							</li>
							<li>
								<a href="sponsor.html">life sciences</a>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">company<i class="icon-arrow">&nbsp;</i></a>
								<div class="mega-menu">
									<div class="container">
										<ul class="clearfix">
											<li>
												<div class="submenu-wrap">
													<a href="company.html">About <span>Learn About the Mendel's
														mission, vision and story</span></a>
												</div>
											</li>
											<li class="active" >
												<div class="submenu-wrap">
													<a href="career.html">Careers <span>Join the leading tech
														company in AI and oncology</span></a>
												</div>
											</li>
											<li class="submenu-list">
												<div class="submenu-wrap">
													<a href="career-open.html">Blog <span>Read the latest from thought
														leaders at Mendel</span></a>
												</div>
											</li>
											<li class="contact-us">
												<div class="submenu-wrap">
													<a href="#">Contact Us<i class="icon-arrowup">&nbsp;</i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</li>
						</ul>

					</nav>
				</div>
			</header>
			<!--Header Section End-->

			<!--Content Area Start-->
			<div class="content">
				<!--section banner Start-->
				<section class="banner">
					<div class="container">
						<h1 class="hero-text">Transform Clinical Research by Using <strong>Machine Precision</strong> with <span>Human Intuition</span></h1>
						<p>
							Mendel is a technology company that has built a network of research sites and novel AI,
							aided by the insights of a team of clinical experts to unlock the full potential of every
							piece of clinical data relevant to cancer research. Our goal is to turbocharge humanity’s
							progress toward curing cancer.
						</p>
						<div class="play-btn">
							<div class="play-rip" data-filename="assets/js/jk.json">
								<div class="file_preview_overlay show overlay_white">
									<div id="show_preview_here" class="temp_preview">
										<img src="assets/images/play1.svg" alt="play" class="play-img" />
									</div>
								</div>
							</div>
							<div class="btn-wrap">
								<a class="btn-primary" href="#">Request a Demo</a>
							</div>
						</div>
					</div>
				</section>
				<!--section banner end-->
				<!--section clinical data start-->
				<!-- <div class="clinical-data">
					<div class="container">
						<ul>
							<li class="graph-line1">
								<strong>1b</strong>
								<span>clinical data points searched  in less than <span>1 second</span></span>
							</li>
							<li class="graph-line2">
								<strong>100<sub>%</sub></strong>
								<span>of all selected sites are  successfuly enrolled</span>
							</li>
							<li class="graph-line3">
								<strong>9</strong>
								<span>minutes to identify and qualify a patient</span>
							</li>
							<li class="graph-line4">
								<strong>20<sub>%</sub></strong>
								<span>more eligible patients than the industry avg. identifed</span>
							</li>
						</ul>
					</div>
				</div> -->
				<!--section clinical data end-->
				<!--section exchange data start-->
				<section class="exchange">
					<div class="container">
						<!-- <h2>Join the <strong>Exchange:</strong></h2> -->
						<div class="exchange-row">
							<div class="macbook">
								<img class="show-desktop" src="assets/images/mac-lg.png" alt="" />
								<img class="hide-desktop" src="assets/images/mac-mb.png" alt="" />
								<div class="mac-btn">
									<div class="play-rip" data-filename="assets/js/jk.json">
										<div class="file_preview_overlay show overlay_white">
											<div id="show_preview_here1" class="temp_preview">
												<img src="assets/images/play1.svg" alt="play" class="play-img" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="exchange-info">
								<span class="tiny-heading">For Life Sciences</span>
								<h3>Search Real World Evidence</h3>
								<p>
									Liberate data in medical records whether it is free
									text, doctor notes, scanned records, or lab values.
									Mendel allows you to increase participation in clinical
									research, as well as enable real world data applications
									such as retrospective studies and outcome analysis. We
									use our novel AI technology “Mendel Brain” and the
									results are validated by our team of clinical experts.
								</p>
								<div class="btn-wrap">
									<a class="btn-primary" href="#">Learn More</a>
								</div>
							</div>
						</div>
						<div class="exchange-reverse">
							<div class="macbook">
								<img src="assets/images/mac-lg2.png" alt="" />
								<div class="graph-wrap">
									<img src="assets/images/graph-img.png" alt="" />
								</div>
							</div>
							<div class="exchange-info">
								<span class="tiny-heading">For Research Sites</span>
								<h3>Streamline Clinical Trials</h3>
								<p>
									Our novel AI -- Mendel Brain -- can help answer feasibility
									surveys with precision and speed by understanding every
									piece of clinical data regardless of format. Augmenting
									your screening process and proactively connecting you to trials
									that matches your patient population.
								</p>
								<div class="btn-wrap">
									<a class="btn-primary" href="#">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--section exchange data end-->
				<!--section news start-->
				<section class="news-sec">
					<div class="container">
						<h2>Publication and Events</h2>
						<div class="item-wrap">
							<div class="item vevent">
								<div class="event-info">
									<span><strong>asco</strong></span>
								</div>
								<span class="tiny-heading">publications</span>
								<h3 class="summary">
									Improving Clinical Trial Participant Pre-Screening
									with Artificial Intelligence (AI): a Comparison of
									the Results of AI-Assisted vs. Standard Methods in
									Three Oncology Trials
								</h3>
								<p class="description">
										We have submitted our first publication. We investigated
										use of artificial intelligence-powered technology, Mendel
										Brain, as a means of overcoming bottlenecks and potential
										biases associated with standard patient pre-screening
										processes in an oncology setting. 
								</p>
							</div>
							<div class="item vevent">
								<div class="event-info">
									<span>Patient</span>
								</div>
								<span class="tiny-heading">blog</span>
								<h3 class="summary">About our Second Round of Funding</h3>
								<p class="description">
										Mendel has closed a second round of financing and is
										planning to expand our site network and improve on
										the applications of Mendel Brain in Real world data
										studies. 
										<a href="#">Read more</a>.
								</p>
							</div>
							<div class="item vevent">
								<div class="event-info">
									<span>company</span>
								</div>
								<span class="tiny-heading">news</span>
								<h3 class="summary">Mendel raised $5M!</h3>
								<p class="description">
									Read about our experience on the
									biggest medical technology fair
								</p>
							</div>
							<div class="item vevent">
								<div class="event-info">
									<span>company</span>
								</div>
								<span class="tiny-heading">news</span>
								<h3 class="summary">Mendel on <strong>asco</strong></h3>
								<p class="description">
									Read about our experience on the
									biggest medical technology fair
								</p>
							</div>
						</div>
					</div>
				</section>
				<!--section news end-->

			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<footer class="footer">
				<!--Brand Area Start-->
				<div class="brand-sec">
					<div class="container">
						<ul class="clearfix">
							<li>
								<a href="https://techcrunch.com/2017/07/01/mendel-ai-nabs-2-million-to-match-cancer-patients-with-the-latest-clinical-trials/">
									<img src="assets/images/tech.png" alt="Tech" />
								</a>
							</li>
							<li>
								<a href="https://www.genomeweb.com/informatics/mendel-health-positions-ai-platform-clinical-trial-matching-personalized-medicine#.W3IMzthKh24">
									<img src="assets/images/gen.png" alt="Gen" />
								</a>
							</li>
							<li>
								<a href="https://www.mobihealthnews.com/content/mendelai-raises-2m-ai-powered-clinical-trial-matching-platform">
									<img src="assets/images/mobi.png" alt="Mobi" />
								</a>
							</li>
							<li>
								<a href="https://www.fiercebiotech.com/medical-devices/cancer-genetics-mendel-ally-to-match-patients-to-trials">
									<img src="assets/images/bio.png" alt="Bio" />
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Brand Area End-->
				<div class="footer-wrap">
					<div class="container">
						<a href="index.html" class="flogo"> <img src="assets/images/flogo.svg" alt="logo" /> </a>
						<div class="footer-content hcard">
							<div class="footer-info">
								<div class="news-wrap">
									<h6>Subscribe to the Newsletter</h6>
									<ul>
										<li>
											<span>
												Be the first to get updates on our news and publications.
												You will receive a little gift with your welcome email.
											</span>
										</li>
										<li>
											<form>
												<div class="form-row">
													<input type="email" placeholder="your email" />
													<input type="submit" value="send" class="btn" />
												</div>
											</form>
										</li>
									</ul>
								</div>
								<div class="contact-wrap">
									<h6>Contact Us</h6>
									<ul>
										<li>
											<span>general</span><a class="email" href="mailto:hello@mendel.ai">hello@mendel.ai</a>
										</li>
										<li>
											<span>investors</span><a class="email" href="mailto:invest@mendel.ai">invest@mendel.ai</a>
										</li>
										<li>
											<span>media</span><a class="email" href="mailto:media@mendel.ai">media@mendel.ai</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="office-wrap">
								<div class="office-cont">
									<h6>Our Office</h6>
									<ul>
										<li>
											<address class="adr">
												479 Jessie St, San Francisco
												<br />
												CA 94103, USA
											</address>
										</li>
										<li>
											<a class="tel" href="tel:5166594161">(516) 659-4161</a>
										</li>
									</ul>

								</div>

								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/company/mendel-health/">
											<img src="assets/images/linkedin.svg" alt="linkedin" />
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com/mymendel/">
											<img src="assets/images/fb.svg" alt="facebook" />
										</a>
									</li>
									<li>
										<a href="https://twitter.com/MendelHealth">
											<img src="assets/images/twitter.svg" alt="twitter" />
										</a>
									</li>
								</ul>

							</div>

						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->
		<script src="assets/js/jquery-1.10.2.min.js"></script>
		<script src="assets/js/slick.min.js"></script>
		<script src="assets/js/lotto.js"></script>
		<script src="assets/js/ripple.js"></script>
		<script src="assets/js/sticky.js"></script>
		<script src="assets/js/site.js"></script>
	</body>
</html>