<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Mendel</title>
		<link rel="shortcut icon" type="image/x-icon" href="64x64.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Barlow+Semi+Condensed:200,200i,400,800,800i|Barlow:100,200,200i,400,500,600,700,700i,900|Roboto+Mono:300,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />
	</head>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper" class="page-hospital">
			<!--Header Section Start-->
			<header class="header sticky-mobile">
				<div class="container clearfix">
					<a href="index.html" class="logo" > <img src="assets/images/logo.png" alt="logo" /> </a>
					<nav class="navigation">
						<a href="javascript:;" class="menu-toggler" ><i class="icon-toggler">&nbsp;</i></a>
						<div class="join-wrap">
							<a href="#" class="join-btn">Try Free</a>
						</div>
						<ul class="menu">
							<li class="submenu-sm">
								<a href="hospital.html">research sites</a>
							</li>
							<li>
								<a href="sponsor.html">life sciences</a>
							</li>
							<li class="sub-menu">
								<a href="javascript:;">company<i class="icon-arrow">&nbsp;</i></a>
								<div class="mega-menu">
									<div class="container">
										<ul class="clearfix">
											<li>
												<div class="submenu-wrap">
													<a href="company.html">About <span>Learn About the Mendel's
														mission, vision and story</span></a>
												</div>
											</li>
											<li class="active" >
												<div class="submenu-wrap">
													<a href="career.html">Careers <span>Join the leading tech
														company in AI and oncology</span></a>
												</div>
											</li>
											<li class="submenu-list">
												<div class="submenu-wrap">
													<a href="career-open.html">Blog <span>Read the latest from thought
														leaders at Mendel</span></a>
												</div>
											</li>
											<li class="contact-us">
												<div class="submenu-wrap">
													<a href="#">Contact Us<i class="icon-arrowup">&nbsp;</i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</li>
						</ul>

					</nav>
				</div>
			</header>
			<!--Header Section End-->

			<!--Content Area Start-->
			<div class="content">
				<!--section support start-->
				<section class="real-data">
					<div class="container clearfix">
						<div class="support-text">
							<h1 class="hero-text">Your access point to
							organized oncology <span>Real-World Data</span></h1>
							<p>
									Mendel is the only healthcare AI bolstered by clinical
									experts organizing data at your site to proactively
									find trials matching your site population while supporting
									your coordinators by cutting down time in ‘screening’
									and answering feasibility requests from sponsors.
							</p>
							<div class="btn-wrap">
								<a class="btn-primary" href="#">Try Free</a>
							</div>
						</div>
						<div class="mendal-img">
							<figure>
								<img src="assets/images/hero2.png"  alt="" />
							</figure>
							<div class="play-btn">
								<div class="play-rip" data-filename="assets/js/jk.json">
									<div class="file_preview_overlay show overlay_white">
										<div id="show_preview_here2" class="temp_preview">
											<img src="assets/images/play1.svg" alt="play" class="play-img" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--section support end-->

				<!--section mendal analysis start-->
				<section class="data-analysis">
					<div class="container">
						<!-- <h2><strong>Mendel</strong> gives you
						<br />
						access to:</h2> -->
						<div class="data-row">
							<div class="analysis-text">
								<span class="tiny-heading">01</span>
								<h3>Quality Real-World Evidence</h3>
								<p>
										We make the real-world data coming from any EMR accessible
										and organized—in real time. Whether it is a scanned report,
										faxed lab results, a doctor note or a simple billing code,
										we can draw insights and answer questions. Mendel is designed
										to answer questions in plain english so you don’t need
										any technical skills.
								</p>
							</div>
							<div class="analysis-img">
								<span class="analysis-count">01</span>
								<img src="assets/images/real-data.png" alt="" />								
							</div>
						</div>
						<div class="site-row">
							<div class="analysis-text">
								<span class="tiny-heading">02</span>
								<h3>Site Selection</h3>
								<p>
									Mendel Brain analyzes all aspects of clinical data in the site
									network to identify sites with potential patients for your protocol.
									Mendel is yielding more accurate sites with verified patients
									so you activate more concise sites, reduce clinical trial costs,
									and decrease time to the first patient in.
								</p>
							</div>
							<div class="analysis-img">
								<span class="analysis-count">02</span>
								<img src="assets/images/site.png" alt="" />								
							</div>
						</div>
						<div class="trail-info">
							<div class="analysis-text">
								<span class="tiny-heading">04</span>
								<h3>Clinical Trial Patient Prescreening</h3>
								<p>
									Mendel augments research coordinators by continuously
									prescreening the clinical data at the site. Mendel leaves no
									eligible patient behind, yielding 30-50% more patients while
									decreasing the elapsed time between patient eligibility and
									identification to minutes compared to standard pre-screening
									practice was used.
								</p>
							</div>
							<div class="analysis-img">
								<span class="analysis-count">04</span>
								<img src="assets/images/match.png" alt="" />
							</div>
						</div>
						<!-- <div class="row-wisdom">
							<div class="analysis-text">
								<span class="tiny-heading">05</span>
								<h3>From Dispersed Data to Insightful Wisdom</h3>
								<p>
									Mendel AI aligns all of the EMR data points from a patient
									record - structured and unstructured, including scans - to
									create a machine understanding of the patient’s medical
									record on a timeline.
								</p>
							</div>
							<div class="analysis-img">
								<span class="analysis-count">05</span>
								<img src="assets/images/wisdom.png" alt="" />
							</div>
						</div> -->
						<!-- originally row-doctors -->
						<div class="row-wisdom">
							<div class="analysis-text">
								<span class="tiny-heading">05</span>
								<h3>Our Team of Oncologists</h3>
								<p>
									Mendel AI aligns all of the EMR data points from a patient
									record - structured and unstructured, including scans - to
									create a machine understanding of the patient’s medical
									record on a timeline.
								</p>
							</div>
							<div class="analysis-img">
								<span class="analysis-count">05</span>
								<img src="assets/images/team2.png" alt="" />
								<span class="line-text">Our Team of Oncologists</span>
							</div>
						</div>
						<div class="btn-wrap">
							<a class="btn-primary" href="#">Request a Demo</a>
						</div>
					</div>
				</section>
				<!--section mendal analysis end-->	
				<!--section network start-->
				<section class="network-sec">
					<div class="container">
						<h2>Mendel is <strong>global</strong>, and growing <strong>network</strong>.</h2>
						<div class="successful-wrap">
							<figure class="dignity">
								<img src="assets/images/dignity.png" alt="dignity" />
							</figure>
							<figure class="sites">
								<img src="assets/images/sites.png" alt="sites" />
							</figure>
						</div>
					</div>
				</section>
				<!--section network end-->
				<!--section mendal brain start-->
				<section class="mendal-brain">
					<div class="container clearfix">
						<div class="brain-intro">
							<span class="tiny-heading">Technology</span>
							<h3>What is Mendel Brain?</h3>
							<p>
								We implemented novel algorithms for what we call clinical
								language comprehension, these algorithms extract billions
								of facts and build a digital story for each patient across
								millions of data points. This knowledge base can be searched
								in plain english with results in seconds. 
							</p>
						</div>
						<div class="brain-img">
							<figure>
								<img src="assets/images/brain-lady.svg" alt="" />
							</figure>
							<div class="play-btn">
								<div class="play-rip" data-filename="assets/js/jk.json">
									<div class="file_preview_overlay show overlay_white">
										<div id="show_preview_here4" class="temp_preview">
											<img src="assets/images/play1.svg" alt="play" class="play-img" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--section mendal brain end-->	
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<footer class="footer">
				<!--Brand Area Start-->
				<div class="brand-sec">
					<div class="container">
						<ul class="clearfix">
							<li>
								<a href="https://techcrunch.com/2017/07/01/mendel-ai-nabs-2-million-to-match-cancer-patients-with-the-latest-clinical-trials/">
									<img src="assets/images/tech.png" alt="Tech" />
								</a>
							</li>
							<li>
								<a href="https://www.genomeweb.com/informatics/mendel-health-positions-ai-platform-clinical-trial-matching-personalized-medicine#.W3IMzthKh24">
									<img src="assets/images/gen.png" alt="Gen" />
								</a>
							</li>
							<li>
								<a href="https://www.mobihealthnews.com/content/mendelai-raises-2m-ai-powered-clinical-trial-matching-platform">
									<img src="assets/images/mobi.png" alt="Mobi" />
								</a>
							</li>
							<li>
								<a href="https://www.fiercebiotech.com/medical-devices/cancer-genetics-mendel-ally-to-match-patients-to-trials">
									<img src="assets/images/bio.png" alt="Bio" />
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Brand Area End-->
				<div class="footer-wrap">
					<div class="container">
						<a href="index.html" class="flogo"> <img src="assets/images/flogo.svg" alt="logo" /> </a>
						<div class="footer-content hcard">
							<div class="footer-info">
								<div class="news-wrap">
									<h6>Subscribe to the Newsletter</h6>
									<ul>
										<li>
											<span>
												Be the first to get updates on our news and publications.
												You will receive a little gift with your welcome email.
											</span>
										</li>
										<li>
											<form>
												<div class="form-row">
													<input type="email" placeholder="your email" />
													<input type="submit" value="send" class="btn" />
												</div>
											</form>
										</li>
									</ul>
								</div>
								<div class="contact-wrap">
									<h6>Contact Us</h6>
									<ul>
										<li>
											<span>general</span><a class="email" href="mailto:hello@mendel.ai">hello@mendel.ai</a>
										</li>
										<li>
											<span>investors</span><a class="email" href="mailto:invest@mendel.ai">invest@mendel.ai</a>
										</li>
										<li>
											<span>media</span><a class="email" href="mailto:media@mendel.ai">media@mendel.ai</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="office-wrap">
								<div class="office-cont">
									<h6>Our Office</h6>
									<ul>
										<li>
											<address class="adr">
												479 Jessie St, San Francisco
												<br />
												CA 94103, USA
											</address>
										</li>
										<li>
											<a class="tel" href="tel:5166594161">(516) 659-4161</a>
										</li>
									</ul>

								</div>

								<ul class="social-icons">
										<li>
											<a href="https://www.linkedin.com/company/mendel-health/">
												<img src="assets/images/linkedin.svg" alt="linkedin" />
											</a>
										</li>
										<li>
											<a href="https://www.facebook.com/mymendel/">
												<img src="assets/images/fb.svg" alt="facebook" />
											</a>
										</li>
										<li>
											<a href="https://twitter.com/MendelHealth">
												<img src="assets/images/twitter.svg" alt="twitter" />
											</a>
										</li>
								</ul>

							</div>

						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script src="assets/js/jquery-1.10.2.min.js"></script>
		<script src="assets/js/slick.min.js"></script>
		<script src="assets/js/lotto.js"></script>
		<script src="assets/js/ripple.js"></script>
		<script src="assets/js/sticky.js"></script>
		<script src="assets/js/site.js"></script>
	</body>
</html>